# General
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
.DS_Store
.env
.vscode/
.idea/
node_modules/
dist/
build/

# Flask Specific
instance/
config.py
config.json
migrations/
*.db
*.sqlite3

# Virtual Environment
venv/
env/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

# Celery and Logs
celerybeat-schedule
celerybeat.pid
logs/
*.log

# Vue.js Specific
frontend/node_modules/
frontend/.vscode/
frontend/.env
frontend/.nuxt/
frontend/.output/
frontend/.cache/
frontend/dist/
frontend/build/
frontend/yarn-error.log
frontend/package-lock.json

# Docker
docker-compose.override.yml
.env.local
.env.development
.env.production
.env.testing
